{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/flowtype"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "es5"
    }],
    "no-console": 0
  }
}
